body{
    background-color:slateblue;
color: violet;
}
h3,h1{
    text-align: center;
    border-style: dotted;
    border-color: khaki;
}


p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.fav{
    margin: 20px;
}
li{
    color:seashell;
}
#foot{
    margin: 20px;
    padding: 20px;
}